# Customer Details Data Cleansing

In [2]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

import seaborn as sns

![](https://foresightbi.com.ng/wp-content/uploads/2020/05/5.jpg)

In [3]:
df = pd.read_excel('C:\\Users\\jorge\\Documents\\GitHub\\customer-details-dataset\\5.-Jumbled-up-Customers-Details.xlsx')

In [4]:
line = pd.DataFrame({"Name Hussein Hakeem Address Number 22 Fioye Crescent Surulere Lagos Age 17 Gender Male": 'Name Hussein Hakeem Address Number 22 Fioye Crescent Surulere Lagos Age 17 Gender Male'}, index=[0])
df = pd.concat([line, df.loc[0:]]).reset_index(drop=True)

In [5]:
df

  Name Hussein Hakeem Address Number 22 Fioye Crescent Surulere Lagos Age 17 Gender Male
0  Name Hussein Hakeem Address Number 22 Fioye Cr...
1  Name Arojoye Samuel Address 11 Omolade Close O...
2  Name Alex Ezurum Address 1 Adamu Lane, Abuja A...
3  Name Susan Nwaimo Address Number 58 Yaba Stree...
4  Name Ajao Opeyemi Address No12 Olubunmi Street...
5  Name Banjoko Adebusola Address 34 Ngige Street...
6  Name Muhammed Olabisi Address 13, ICAN road, E...
7  Name Oluwagbemi Mojisola Address ACCA Lane, On...

In [7]:
df.columns = ['Name']

In [8]:
df

                                                Name
0  Name Hussein Hakeem Address Number 22 Fioye Cr...
1  Name Arojoye Samuel Address 11 Omolade Close O...
2  Name Alex Ezurum Address 1 Adamu Lane, Abuja A...
3  Name Susan Nwaimo Address Number 58 Yaba Stree...
4  Name Ajao Opeyemi Address No12 Olubunmi Street...
5  Name Banjoko Adebusola Address 34 Ngige Street...
6  Name Muhammed Olabisi Address 13, ICAN road, E...
7  Name Oluwagbemi Mojisola Address ACCA Lane, On...